# This is the port our server will be running on
PORT=3000

# This is the URL the server will use for the Neon database connection string
DATABASE_URL=

# RapidAPI key used by the LinkedIn job search API. This is required for the job search
# functionality. Obtain a key from RapidAPI and set it here.
X_RAPIDAPI_KEY=
LINKEDIN_SCRAPER_KEY=

# JWT
JWT_EXPIRES_IN=
JWT_SECRET=

# Google maps
GOOGLE_MAPS_API_KEY=

# Frontend URL
VITE_FRONTEND_URL=

# SMTP credentials used for sending emails to users
SMTP_HOST=
SMTP_USER=
SMTP_PASS=

# Firebase configuration
STORAGE_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=
